<h2>Minha Biblioteca</h2>

<div class="form-cadastrar">

    <form action="/livro/salvar" method="post" class="form">
        <input type="text" placeholder="coloque o titulo do livro" name="titulo">
        <input type="text" placeholder="Autor do livro" name="autor">
        <input type="text" placeholder="descrivcao" name="descricao">
        <input type="text" placeholder="capa do livro" name="capa_livro">
        <input type="date" placeholder="Ano de Lancamento" name="data_lancamento"> <br>
        <input type="submit" value="cadastrar Agora" class="btn-btn">
    </form>

    <a href="/livro/ver" >Ver Livro na Loja</a>
</div>